canvas
{
    display: block;
    margin: 0 auto;
    border-radius: 25px;
}

body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(120deg, #e0f7fa, #ffffff, #b2dfdb);
    background-size: 400% 400%;
    animation: gradientShift 60s ease infinite; /* Déplacement lent du dégradé */
    color: #37474f;
}

/* Animation subtile pour le dégradé */
@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}